---
// @ts-nocheck

import HtmlLayout from '@/layouts/HtmlLayout.astro';
import MainLayout from '@/layouts/MainLayout.vue';
import LoadingWrapper from '@/components/result/ResultContent.vue';
---

<HtmlLayout bodyClassName="bg-sky-50">
	<MainLayout client:load hscreen={false} isMobilePadding={false} />
	<div class="hidden">
		<img src="/images/profile/img-dao-profile.webp" alt="" />
		<img src="/images/profile/img-bazzi-profile.webp" alt="" />
		<img src="/images/profile/img-diz-profile.webp" alt="" />
		<img src="/images/profile/img-uni-profile.webp" alt="" />
		<img src="/images/profile/img-marid-profile.webp" alt="" />
		<img src="/images/profile/img-tiera-profile.webp" alt="" />
		<img src="/images/profile/img-keffy-profile.webp" alt="" />
		<img src="/images/profile/img-ethen-profile.webp" alt="" />
		<img src="/images/profile/img-kris-profile.webp" alt="" />
		<img src="/images/profile/img-erini-profile.webp" alt="" />
		<img src="/images/profile/img-mos-profile.webp" alt="" />
	</div>
</HtmlLayout>
