---
import '@/styles/global.css';
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:description" content="나는 어떤 캐릭터의 성격일까?" />
		<meta property="og:title" content="카트라이더 캐릭터로 알아보는 성격 테스트" />
		<!-- <meta property="og:image" content="/og-image.png" /> -->
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="카트라이더 캐릭터로 알아보는 성격 테스트" />
		<meta property="og:locale" content="ko_KR" />
		<link
			rel="stylesheet"
			as="style"
			crossorigin
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
		/>
		<title>카트라이더 캐릭터로 알아보는 성격 테스트</title>
	</head>
	<body>
		<div id="app" class="select-none">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		font-family: 'Pretendard Variable', sans-serif;
	}
</style>

<script>
	// 로컬스토리지에 quizAnswers 키가 있으면 #app의 배경을 bg-sky-50, 아니면 bg-white
	if (localStorage.getItem('quizAnswers')) {
		document.getElementById('app').classList.add('bg-sky-50');
	} else {
		document.getElementById('app').classList.remove('bg-sky-50');
	}
</script>
